services:
  ipfs:
    container_name: ipfs_node
    image: ipfs/go-ipfs:latest
    ports:
      - "5001:5001"
      - "4001:4001"
      - "8080:8080"
    volumes:
      - ~/.ipfs/archive:/data/ipfs
      - ~/.ipfs/data:/data/ipfs
      
    restart: unless-stopped
    
