# Rust build artifacts
/target
**/target

# Git and CI
.git
.gitignore
.github/ # keep workflows out of docker context to reduce cache invalidations
!.github/workflows/*.yml

# Nix/direnv
.direnv
.nix-profile
.nix-defexpr
result
flake.lock

# Editors/IDEs
*.swp
*.swo
.idea/
.vscode/

# Misc
Dockerfile
README.md
