networks:
  default:
    external: true
    name: modnet
services:
  cli:
    container_name: cli
    deploy: {}
    entrypoint: bash -c "m serve port=50063 key=cli remote=0 mod=cli"
    image: mod:latest
    ports:
    - 50063:50063
    restart: unless-stopped
    shm_size: 100g
    volumes:
    - ~/mod:/root/mod
    - ~/.mod:/root/.mod
    - ~/mod/mod/core/cli:/root/mod/mod/core/cli
    working_dir: /root/mod/mod/core/cli
version: '3.8'
