networks:
  default:
    driver: bridge
services:
  ipfs.node:
    container_name: ipfs.node
    extra_hosts:
    - 0.0.0.0:host-gateway
    image: ipfs/go-ipfs:latest
    networks:
    - default
    ports:
    - 5001:5001
    - 4001:4001
    - 8080:8080
    restart: unless-stopped
    volumes:
    - ~/.ipfs/archive:/data/ipfs
    - ~/.ipfs/data:/data/ipfs
