{
    admin localhost:2091
}

:3000 {
    @polymarket_api path /api/polymarket /api/polymarket/*
    handle @polymarket_api {
        uri strip_prefix /api/polymarket
        reverse_proxy localhost:50091
    }
    @polymarket_app path /polymarket/QmPxwzYHE5V1WeXSX31uhYZeT79R6zzTtS2pREBGdZhmrL /polymarket/QmPxwzYHE5V1WeXSX31uhYZeT79R6zzTtS2pREBGdZhmrL/*
    handle @polymarket_app {
        uri replace /polymarket/QmPxwzYHE5V1WeXSX31uhYZeT79R6zzTtS2pREBGdZhmrL /polymarket 1
        reverse_proxy localhost:3091
    }
    handle /* {
        reverse_proxy localhost:3091
    }
}
