{
    admin localhost:2091
}

:3000 {
    @polymarket_api path /api/polymarket /api/polymarket/*
    handle @polymarket_api {
        uri strip_prefix /api/polymarket
        reverse_proxy localhost:50091
    }
    @polymarket_app path /polymarket/QmZ1DErg6Agaf4i1FpUU8MtPkWyyJ4TFDHDznm5PuRTaQz /polymarket/QmZ1DErg6Agaf4i1FpUU8MtPkWyyJ4TFDHDznm5PuRTaQz/*
    handle @polymarket_app {
        uri replace /polymarket/QmZ1DErg6Agaf4i1FpUU8MtPkWyyJ4TFDHDznm5PuRTaQz /polymarket 1
        reverse_proxy localhost:3091
    }
    handle /* {
        reverse_proxy localhost:3091
    }
}
