networks:
  default:
    driver: bridge
services:
  ipfs:
    container_name: ipfs
    deploy: {}
    entrypoint: bash -c "m serve port=50095 key=ipfs remote=0 mod=ipfs"
    environment:
    - IPFS_API_URL=http://ipfs_node:5001/api/v0
    extra_hosts:
    - 0.0.0.0:host-gateway
    image: mod:latest
    ports:
    - 50095:50095
    restart: unless-stopped
    shm_size: 100g
    volumes:
    - ~/mod:/root/mod
    - ~/.mod/server:/root/.mod/server
    - ~/.mod/key/ipfs:/root/.mod/key/ipfs
    - ~/.mod/ipfs:/root/.mod/ipfs
    - ~/mod/mod/modules/ipfs:/root/mod/mod/modules/ipfs
    working_dir: /root/mod/mod/modules/ipfs
  ipfs_node:
    container_name: ipfs_node
    extra_hosts:
    - 0.0.0.0:host-gateway
    image: ipfs/go-ipfs:latest
    networks:
    - default
    ports:
    - 5001:5001
    - 4001:4001
    - 8080:8080
    restart: unless-stopped
    volumes:
    - ~/.ipfs/archive:/data/ipfs
    - ~/.ipfs/data:/data/ipfs
